.category-tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.category-type {
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $blue;
        cursor: pointer;
        border-radius: 8px;
        font-size: 14px;
        border: 1px solid rgba(28, 24, 25, 0.1);
        height: 36px;
        padding: 6px 20px;
        line-height: 24px;
        background: #ffffff;
    }

    &__btn--active {
        background: #d6ecfb;
        color: $black;
        border: 1px solid #d6ecfb;
    }
}
