.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1317px;
    height: 48px;
    margin: 32px 40px 0 32px;

    &__wrapper {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__logo {
        width: 215px;
        height: 35px;
        margin-right: 66px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__search {
        width: 33%;

        form {
            position: relative;
            max-width: 308px;
            height: 44px;
            background: #f2f2f3;
            border-radius: 8px;
        }

        input {
            border: none;
            outline: none;
            background: transparent;
            width: 100%;
            height: 44px;
            padding: 8px 16px 8px 56px;
            font-size: 18px;
            line-height: 28px;
            color: #888b94;

            &:focus {
                background-color: #e9f2fb;
                border-radius: 8px;
                color: $black;
                border: 2px solid $blue;
            }

            &:active {
                background-color: #d6ecfb;
                border-radius: 8px;
                border: none;
            }
        }

        button {
            border: none;
            outline: none;
            background: transparent;
            padding: 4px;
            height: 24px;
            width: 24px;
            position: absolute;
            top: 10px;
            left: 16px;
            cursor: pointer;
            font-size: 0;
            background-image: url(/src/assets/icon/search-big.svg);
        }
    }

    &-user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        background: none;
        cursor: pointer;
        padding: 0;

        &__image {
            width: 44px;
            height: 44px;
            margin-right: 16px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 100%;
            }
        }

        &__name {
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: $blue;
            max-width: 250px;
            height: 24px;
            overflow: hidden;
        }

        &__balance {
            display: flex;
            justify-content: start;
            font-size: 13px;
            line-height: 20px;
            color: $black;
            max-width: 250px;
            height: 20px;
            overflow: hidden;
        }
    }
}
