.hot-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 76px;
    margin-top: 24px;
    gap: 24px;

    &__point {
        display: flex;
        align-items: center;
        width: 330px;
        height: 76px;
        background: #eff8eb;
        border-radius: 16px;
        padding: 10px 26px 10px 24px;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        color: $black;
        text-decoration: none;

        &:hover {
            border: 2px solid $black;
            padding-left: 22px
        }

        &:nth-child(2) {
            background: #fffae7;

            &:active {
                background: #fff4cc;
            }
        }

        &:nth-child(3) {
            background: #e9f2fb;

            &:active {
                background: #d9e9f9;
            }
        }

        &:active {
            background: #e1fbd5;
        }
    }

    &__icon {
        width: 48px;
        height: 56px;
        margin-right: 16px;
        padding: 6px 4px 10px 4px;
    }
}
