* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

.category_container {
    max-width: 1038px;
    margin: 0 auto;
}

.category_list {
    width: 1038px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* card_product */

.card {
    width: 330px;
    min-height: 474px;
    padding: 16px;
}

.card:hover {
    box-shadow: 0 2px 10px rgba(28, 24, 25, 0.1);
    border-radius: 8px;
}

.image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    display: block;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: 38px;
    height: 20px;
    border-radius: 4px;
    background: #64bd38;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
}

.descr {
    padding: 16px;
    max-height: 128px;
}

.price {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: #2a81dd;
}

.card:hover .price {
    color: #f33;
}

.title {
    margin: 8px 24px 4px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #1c1819;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.subtitle {
    font-size: 14px;
    line-height: 24px;
    color: #888b94;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.button {
    display: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 44px;
    border: none;
    border-radius: 8px;
    background: #2a81dd;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
    cursor: pointer;
}

.card:hover .button {
    display: block;
}

/* modal cart product */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(28, 24, 25, 0.6);
}

.modal {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1039px;
    min-height: 100px;
    background: #fff;
    border-radius: 16px;
    padding: 56px;
}

.modal__close {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 35px;
    right: 30px;
}

.modal__close span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #888b94;
    margin-bottom: 2px
}

.modal__close span:first-child {
    transform: rotate(-45deg);
    margin-bottom: -2px
}

.modal__close span:nth-child(2) {
    transform: rotate(45deg);
}

.modal__image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 24px;
}

.modal__image-main img {
    width: 330px;
    height: 330px;
}

.modal__image-mini {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 330px;
    min-height: 50px;
    margin-top: 16px;
}

.modal__image-mini img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

#modal__image-active {
    border: 1px solid #2a81dd;
}

.modal__info {
    position: relative;
    width: 573px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.modal__info-title {
    font-size: 20px;
    line-height: 32px;
    color: #1c1819;
    margin: 0;
}

.modal__info-price {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #1c1819;
    margin-top: 8px;
}

.modal__info-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    width: 184px;
    height: 36px;
    background: #ffdd61;
    box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
    border-radius: 8px;
    font-size: 14px;
    line-height: 24px;
    color: #1c1819;
    cursor: pointer;
}

.modal__info-account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px 8px 16px;
    position: absolute;
    right: 0;
    top: 48px;
    width: 196px;
    height: 68px;
    left: 377px;
    background: #f0fafd;
    border-radius: 16px;
}

.modal__info-balance {
    font-size: 14px;
    line-height: 24px;
    color: #888b94;
}

.modal__info-points {
    font-size: 16px;
    line-height: 24px;
    color: #1c1819;
}

/* radio-buttons colors */

.modal__colors-subtitle {
    font-size: 14px;
    line-height: 24px;
    color: #1c1819;
    margin-top: 24px;
}

.modal__colors-radio {
    display: flex;
    margin-top: 8px;
}

.modal__colors_btn {
    margin-right: 8px;
}

.modal__colors_btn input[type=radio] {
    display: none;
}

.modal__colors_btn label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    font-size: 14px;
    color: #2a81dd;
    border: 1px solid rgba(28, 24, 25, 0.1);
    border-radius: 8px;
    user-select: none;
}

.modal__colors-radio label::before {
    display: block;
    content: '';
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background: #00458a;
    border-radius: 4px;
}

#color-2::before {
    background: #efe8d8;
}

#color-3::before {
    background: #d4d4da;
}

.modal__colors_btn input[type=radio]:checked + label {
    background: #d6ecfb;
    color: #1c1819;
}

.modal__size {
    margin-top: 24px;
}

.modal__size-dimension {
    font-size: 14px;
    line-height: 24px;
    color: #1c1819;
}

.modal__size-rate {
    margin-top: 8px;
    display: flex;
}

.modal__size_btn input[type=radio] {
    display: none;
}

.modal__size_btn {
    margin-right: 8px;
}

.modal__size_btn label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 8px;
    font-size: 14px;
    color: #2a81dd;
    border: 1px solid rgba(28, 24, 25, 0.1);
    border-radius: 8px;
    user-select: none;
}

.modal__size_btn input[type=radio]:checked + label {
    background: #d6ecfb;
    color: #1c1819;
}

.modal__details {
    margin-top: 24px;
}

.modal__details-subtitle {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #1c1819;
}

.modal__details-descr {
    margin-top: 4px;
    font-size: 14px;
    line-height: 24px;
    color: #1c1819;
}

.modal__help {
    margin-top: 24px;
}

.modal__help-subtitle {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #1c1819;
}

.modal__help-descr {
    margin-top: 4px;
    font-size: 14px;
    line-height: 24px;
    color: #1c1819;
}
